@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Mobile first workflow */

*{
    font-family: 'Karla', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: hsl(201, 44%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* MAIN */

main {
    background-color: transparent;
    max-width: 95%;
    border-radius: 5px;
    box-shadow: 0 3px 5px hsl(207, 13%, 83%);
}
@media (min-width: 40em) {
    main {
        max-width: 40%;
        display: grid;
        grid-template-areas: ".introduction"
        ".subscription .presentation";
    }
}

div {
    padding: 2rem 1.5rem 2rem 1.5rem;
    width: inherit;
    font-size: 1.6rem;
}
@media (min-width: 40em) {
    div {
        padding: 2rem;
    }
}


/* SECTION 1 */

.introduction {
    background-color: white;
    border-radius: 5px 5px 0 0;
}
@media (min-width: 40em) {
    .introduction {
        grid-column: span 2;
    }
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.subtitle {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}
.paragraph {
    color: hsl(218, 22%, 67%);
    line-height: 2.5rem;
}


/* SECTION 2 */
/* kinda struggled to style this section */
.subscription {
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    line-height: 2rem;
}
@media (min-width: 40em) {
    .subscription {
        border-radius: 0 0 0 5px;
    }
}

.subscription h2 {
    font-weight: 700;
    font-size: 1.8rem;
}
.price {
    font-size: 3rem;
    color: white;
}
.per-month {
    font-size: 1.5rem;
    opacity: 0.7;
}
.details {
    font-size: 1.3rem;
}
@media (min-width: 40em) {
    .details {
        font-size: 1.5rem;
    }
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 5px hsl(179, 62%, 39%);
}


/* SECTION 3 */

.presentation {
    background-color: hsl(179, 47%, 52%);
    color: hsl(204, 43%, 93%);
    line-height: 2rem;
    border-radius: 0 0 5px 5px;
}
@media (min-width: 40em) {
    .presentation {
        border-radius: 0 0 5px 0;
    }
}
.presentation h2 {
    color: white;
}
.presentation ul {
    padding-left: 0;
}
.presentation li {
    list-style: none;
}



/* FOOTER */

.attribution {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}